<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>Holidays</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <div class="country-selector"
      *ngIf="selectedCountry"
      (click)="countriesModal()">
      {{selectedCountry.name}}
      <ion-icon class="country-selector__icon" name="filter-circle-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-holiday-card [holidays]="holidays"></app-holiday-card>
</ion-content>
